<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Questions</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="header">
  <h1>Administration part</h1>
</div>
<div class="sidebar">
  <a th:href="@{/admin}">Home</a>
  <a th:href="@{/category}">Category list</a>
  <a class="active" th:href="@{/question}">Question list</a>
  <a th:href="@{/answer}">Answer list</a>
</div>
<div class="content">
  <h2>Questions</h2>
  <br/>
  <div>
    <a class="buttonCreate" th:href="@{/question/add}">Create question</a>
  </div>
  <br/><br/>
  <div>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category ID</th>
        <th colspan="2">Action</th>
      </tr>
      <tr th:each ="question : ${question}">
        <td th:utext="${question.id}">...</td>
        <td th:utext="${question.title}">...</td>
        <td th:utext="${question.categoryId}">...</td>
        <td><a th:href="@{/question/{Id}/edit(questionId=${question.id})}">View</a></td>
        <td><a th:href="@{/question/{Id}/edit(questionId=$question.id})}">Edit</a></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>