body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

h1 {
    color: white;
}

h2 {
    color: black;
}

a {
    color: #008080;
    text-decoration: none;
}

a:hover {
    color: #2F4F4F;
}

table {
    border-collapse: collapse;
}

table th {
  padding: 5px;
  color: black;
  background-color: #f1f1f1;
}

table td {
    padding: 5px;
}

.error {
    color: #DC143C;
}

p.error  {
    margin-top: 0;
    padding-left: 67px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: Verdana, sans-serif;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #008080;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  padding: 0px 0px 0px 216px;
  height: 100px;
  font-family: Verdana, sans-serif;
}

div.header {
  padding: 1px 1px 1px 16px;
  background-color: #2F4F4F;
  font-family: Verdana, sans-serif;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
    }

  div.content {
    margin-left: 0;
    padding: 0px 0px 0px 16px;
  }

}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

}

.img_wrap {
  width: 2048px;
  height: 993px;
}

.img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

div.main {
  color: white;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: auto;
}

button.Accept {
  border: 0;
  font-weight: 550;
  color: white;
  padding: 0.5em 1em 0.8em;
  border-radius: 6px;
  background-color: #008080;
  box-shadow: 0 -3px #008080 inset;
  transition: 0.2s;
  font-family: Verdana, sans-serif;
  cursor: pointer;
}

button.Accept:hover {
background-color: #2F4F4F;
}

button.Accept:active {
  background-color: #2F4F4F;
  box-shadow: 0 3px #008080 inset;

}

a.buttonCreate {
  font-weight: 550;
  color: white;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 6px;
  background-color: #008080;
  box-shadow: 0 -3px #008080 inset;
  transition: 0.2s;
  text-decoration: none;
}

a.buttonCreate:hover {
background-color: #2F4F4F;
}

a.buttonCreate:active {
  background-color: #2F4F4F;
  box-shadow: 0 3px #008080 inset;
}

a.buttonDelete {
  font-weight: 550;
  color: white;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 6px;
  background-color: #CD5C5C;
  box-shadow: 0 -3px #B22222 inset;
  transition: 0.2s;
  text-decoration: none;
}

a.buttonDelete:hover {
background-color: #DC143C;
}

a.buttonDelete:active {
  background-color: #DC143C;
  box-shadow: 0 3px #B22222 inset;
}

a.buttonDecline {
  font-weight: 550;
  color: white;
  padding: 0.3em 1em 0.65em;
  border-radius: 6px;
  background-color: #CD5C5C;
  box-shadow: 0 -3px #B22222 inset;
  transition: 0.2s;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

a.buttonDecline:hover {
background-color: #DC143C;
}

a.buttonDecline:active {
  background-color: #DC143C;
  box-shadow: 0 3px #B22222 inset;
}

a.buttonStart {
  font-weight: 550;
  margin-left: 42%;
  color: white;
  border-radius: 100%;
  background-color: #FFA500;
  box-shadow: 0 -3px #FFD700 inset;
  transition: 0.2s;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  padding-bottom: 55px;
  padding-top: 55px;
  padding-left: 25px;
  padding-right: 25px;

}

a.buttonStart:hover {
background-color: #FFD700;
}

a.buttonStart:active {
  background-color: #FFD700;
  box-shadow: 0 3px #FFA500 inset;
}

a.buttonAdmin {
  color: #008080;

  border-radius: 100px;
  transition: 0.2s;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-right: 15px;
}

a.buttonAdmin:hover {
    color: #2F4F4F;
}

input[type=text]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 3px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Verdana, sans-serif;
}

input[type=text]:focus{
    border-color: #008080;
    box-shadow: 0 0 3px 0 #2F4F4F;
}